{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

  <div class="row" style="margin-top:30px;">
{##}
      <div class="col-6 mx-auto">
{##}
        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" class="mx-auto d-block" alt="Blog">

                <h1 class="display-5 text-center">Change Password</h1>

                <form method="POST" action=".">{% csrf_token %}

                    {% bootstrap_field form.old_password layout='inline' error_types='all' %}

                    {% if form.old_password.errors %}
                        <div class="text-danger font-weight-light" role="alert">
                            <small>{{ form.old_password.errors }}</small>
                        </div>
                    {% endif %}

                    {% bootstrap_field form.new_password1 layout='inline' error_types='all' %}

                    {% bootstrap_field form.new_password2 layout='inline' error_types='all' %}

                    <div class="text-danger font-weight-light" role="alert">
                        <small>
                            {% if form.password1.errors or form.password2.errors %}
                                {% for error in form.password1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for error in form.password2.errors %}
                                    {% if error not in form.password1.errors %}
                                        <li>{{ error }}</li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </small>
                    </div>

                    <div class="align-self-center" style="margin-bottom: -40px;">
                        <button type="submit" class="btn btn-primary form-control"
                         value="Change">Submit</button>
                    </div>

                </form>

            </div>

        </div>

      </div>

  </div>

{% endblock %}