{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

  <div class="row" style="margin-top:30px;">
{##}
      <div class="col-6 mx-auto">
{##}
        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" class="mx-auto d-block" alt="Blog Logo">

                <h1 class="display-5 text-center">Reset Password</h1>
                <h6 class="display-6 text-center"><small>A password link will be sent to your email.</small></h6>

                <form method="post" action="">{% csrf_token %}

                    <div class="form-group">
                        <input  type="email" name="email" maxlength="254" class="form-control"
                                placeholder="Email" title="" required="" id="id_email">
                    </div>

                    <div class="align-self-center" style="margin-bottom: -40px;">
                        <button type="submit" class="btn btn-primary form-control"
                         value="Send e-mail">Send Reset Email</button>
                    </div>

                </form>

            </div>

        </div>

      </div>

  </div>

{% endblock %}