{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

{% if user_profile.username == user.username %}
    <p class="text-center">Welcome to your profile. You can
        <a href="{% url "users:profile_edit" %}">edit your profile</a> <b>or</b>
    <a href="{% url "users:change_password" %}">change your password</a>.</p>
{% endif %}

  <div class="row" style="margin-top:30px;">

      <div class="col-6 mx-auto">

        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                {% if user_profile.picture %}
                        <img src="{{ user_profile.picture.url }}"
                       width="130" height="130" class="mx-auto d-block" alt="Profile Picture" style="border-radius: 100%;">
                    {% else %}
                        <img src="/media/user_images/placeholder.png" width="130" height="130" class="mx-auto d-block"
                             alt="Placer Holder Image" style="border-radius: 100%;">

                    {% endif %}

                <h1 class="display-5 text-center">Profile</h1>
                <h3 class="text-center">@{{user_profile.username}}</h3>

                <div class="text-center" >You can edit your profile using the following form<div><br>

                <div class="container">

                    {% for field, value in user_profile.fields.items %}

                        {% if field == "Website" %}
                            <b><br><a href="{{ value }}">Your Webite</a></br>
                        {% else %}
                              <div class="row"><div class="col text-right">
                                  <b>{{ field }}:</b>
                              </div>
                                  <div class="col text-left">{{ value }}</div>
                              </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

        </div>

      </div>

  </div>


</div>


{% endblock %}