{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

  <div class="row" style="margin-top:30px;">

      <div class="col-6 mx-auto">

        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" class="mx-auto d-block" alt="Blog">

                <h1 class="display-5 text-center">Sign in</h1>

                <div class="container">

                <form method="POST" action="">{% csrf_token %}
                    <div class="form-group">

                        {% bootstrap_form form show_label=False %}

                        <button type="submit" class="btn btn-primary form-control"
                        style="margin-bottom: 15px;">Sign in</button>

                        <a class="btn btn-secondary form-control"
                           href="{% url "social:begin" "facebook" %}"
                           style="margin-bottom: 15px;">
                            <img src="https://webstockreview.net/images/white-facebook-icon-png-14.png"
                                width="25" height="25" alt="Twitter" class="rounded float-left"
                                style="-webkit-filter: invert(1); filter: invert(1);">
                            Sign in with Facebook
                        </a>

                        <a class="btn btn-secondary form-control"
                           href="{% url "social:begin" "twitter" %}"
                           style="margin-bottom: 15px;">
                            <img src="https://webstockreview.net/images/black-twitter-icon-png-11.png"
                                width="25" height="25" alt="Twitter" class="rounded float-left"
                                style="-webkit-filter: invert(1); filter: invert(1);">
                            Sign in with Twitter
                        </a>

                        <a class="btn btn-secondary form-control"
                           href="{% url "social:begin" "google-oauth2" %}"
                           style="margin-bottom: 15px;">
                            <img src="https://image.flaticon.com/icons/png/512/60/60818.png"
                                width="25" height="25" alt="Twitter" class="rounded float-left"
                                style="-webkit-filter: invert(1); filter: invert(1);">
                            Sign in with Google
                        </a>

                    </div>

                </form>

                </div>

                    <a href="{% url 'users:sign_up' %}"
                       style="margin-bottom: 15px"
                         class="btn btn-light form-control">Need an account?
                        <strong>
                            Sign up
                        </strong>
                    </a>

                    <a href="{% url 'users:reset_password' %}"
                         class="btn btn-light form-control">Forgotten your password?
                        <strong>
                            Reset password
                        </strong>
                    </a>

                </div>

            </div>

        </div>

    </div>



{% endblock %}