{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

  <div class="row" style="margin-top:30px;">

      <div class="col-6 mx-auto">

        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" class="mx-auto d-block" alt="Blog">

                <h1 class="display-5 text-center">Sign in</h1>

                <div class="container">

                <form method="POST" action="">{% csrf_token %}
                    <div class="form-group">

                        {% bootstrap_form form show_label=False %}

                        <div class="align-self-center">
                            <button type="submit" class="btn btn-primary form-control">Send</button>
                        </div>
                    </div>

                </form>

                </div>

                    <p class="font-weight-light text-center" style="margin-bottom:-40px;">Forgotten your password?
                        <a class="" href="{% url 'users:reset_password' %}">Sign up here!</a></p>

                </div>

            </div>

        </div>

    </div>



{% endblock %}