{% extends "base.html" %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

    <div class="jumbotron text-center bg-white" style="margin: 50px;">

        {% if success %}

              <h1 class="display-5">Thank you for confirming your email!</h1>
                <hr>
              <h4 class="lead">
                  You can now log in and post as much as you would like!
              </h4>
              <hr class="my-4">
              <p>Click below to head to the login page.</p>
              <a class="btn btn-primary btn-lg" href="{% url 'users:sign_in' %}" role="button">Sign in</a>

        {% else %}

            <h1 class="display-5">Sorry something has gone wrong!</h1>
                <hr>
              <h4 class="lead">
                  Please follow the link below to resend an email confirmation.
              </h4>
            <hr>
              <a class="btn btn-primary btn-lg" href="{% url 'users:resend_verification' %}" role="button">Verify</a>

        {% endif %}

    </div>

{% endblock %}