{% extends "base.html" %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

    <div class="jumbotron text-center bg-white" style="margin: 50px;">
      <h1 class="display-5">Thank you for signing up!</h1>
        <hr>
      <h3 class="display-5" style="font: arial, sans-serif; font-style: bold; color: darkred;">
          Please click the link in the email you were sent so you can log in.
      </h3>
      <p class="lead">
          Your user details will be deleted after two days if you do not follow the link in your email.
      </p>
      <hr class="my-4">
      <p>Click below to head to the login page.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'users:sign_in' %}" role="button">Sign in</a>
    </div>

{% endblock %}