{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row" style="margin-top:30px;">

  <div class="col-6 mx-auto">

    <div class="container" style="border: 1px solid lightgrey">

        <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

            <div class="container text-center">

                <h3>{{ post.title }}</h3> by
                    <a href="{% url 'users:profile' slug=post.posted_by.slug %}">@{{ post.posted_by }}</a><p>


            <ul class="list-group">
                    <li class="list-group-item-white d-flex justify-content-between align-items-center text-justify"
                    style="margin-bottom: 20px;">
                        {{ post.content }}
                    </li>
                    <li class="list-group-item-white d-flex justify-content-between align-items-center"
                    style="margin-bottom: 20px;">
                        {{ post.date_created }}
                    <button href="#" class="badge badge-primary badge-pill float-right">
                        Likes {{ post.liked_by.count }}
                    </button>
                    </li>
                     {% if comments %}
                        {% for comment in comments %}
{#                                {{ comment.comment }}#}
{#                                <a href="{% url 'users:profile' slug=comment#}
{#                                .comment_by.slug#}
{#                                    %}">#}
{#                                     @{{ comment.comment_by }}</a>#}

                            <div class="btn-group btn-group-toggle border border-light rounded" data-toggle="buttons">
                              <label class="btn btn-white active" style="width:30%;">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked><a href="{% url 'users:profile' slug=comment
                                .comment_by.slug
                                    %}">
                                     @{{ comment.comment_by }}</a>
                              </label>
                              <label class="btn btn-white text-left" style="width:70%;">
                                <input type="radio" name="options" id="option2" autocomplete="off"> {{ comment.comment }}
                              </label>
                                {% if comment.comment_by == user %}
                                    <form action="{% url 'blog:comment_delete' %}" method="POST" class="mb-2 mr-sm-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="slug" value="{{ comment.slug }}"/>
                                        <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
                                    </form>
                                {% endif %}

                            </div>

                        {% endfor %}
                         </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}