{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-6 mx-auto">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="{% url 'users:profile' slug=post.posted_by.slug %}">@{{ post.posted_by }}</a><p>
        </p>

        <hr>

        <!-- Date/Time -->
        <div class="float-left">Posted on {{post.date_created|date:"M d, Y h:m"}}</div>
        <div class="float-right">

            {% with total_likes=post.liked_by.count users_like=post.liked_by.all %}

                <div class="image-info">
                  <div>

                    <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                    class="like btn btn-primary btn-sm align-middle" style="margin-right: 5px; height:30px;">
                      {% if request.user not in users_like %}
                        Like
                      {% else %}
                        Unlike
                      {% endif %}
                    </a>

                      <span class="count">
                         <span class="total">{{ total_likes }}</span> like{{ total_likes|pluralize }}
                    </span>


                  </div>
                </div>

            {% endwith %}


        </div>

          {% if post.image %}
              <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{post.image}}" alt="Post Image">

          {% endif %}
        <br>
        <hr>

        <!-- Post Content -->
        <p class="lead">
                {{ post.content }}
        <hr>

                         <!-- Comments Form -->


                        <div class="card my-4">
                          <h5 class="card-header">Leave a Comment</h5>
                          <div class="card-body">
                            <form action="{% url 'blog:post' post.slug %}" method="POST">{% csrf_token %}
                              <div class="form-group">

                                  {% bootstrap_field form.comment layout='inline' error_types='all' %}

                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                          </div>
                        </div>


                     {% if comments %}
                        {% for comment in comments %}

                                  <!-- Single Comment -->

                            <div class="media mb-4">
                                {% if comment.comment_by.picture %}
                                        <img src="{{ comment.comment_by.picture.url }}"
                                             width="50" height="50"
                                             alt="Profile Picture"
                                             class="d-flex mr-3 rounded-circle">
                                    {% else %}
                                        <img src="/media/user_images/placeholder.png" width="50" height="50"
                                             alt="Placer Holder Image"
                                             class="d-flex mr-3 rounded-circle">

                                {% endif %}

                              <div class="media-body">
                                <h5 class="mt-0"><a href="{% url 'users:profile' slug=comment.comment_by.slug %}">
                                                         @{{ comment.comment_by }}</a></h5>
                                {{ comment.comment }}
                              </div>
                                {% if comment.comment_by == user or user.is_superuser %}
                                    <form action="{% url 'blog:comment_delete' comment.uuid %}" method="POST"
                                          class="mb-2 mr-sm-2">{% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
                                    </form>
                                {% endif %}
                            </div>

                        {% endfor %}
                    {% endif %}



        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
<!-- /.container -->


{% endblock %}

{% block domready %}
      $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "blog:like" %}',
          {
            id: $(this).data('id'),
            action: $(this).data('action')
          },
          function(data){
            if (data['status'] == 'ok')
            {
              var previous_action = $('a.like').data('action');

              // toggle data-action
              $('a.like').data('action', previous_action == 'like' ?
              'unlike' : 'like');
              // toggle link text
              $('a.like').text(previous_action == 'like' ? 'Unlike' :
              'Like');

              // update total likes
              var previous_likes = parseInt($('span.count .total').text());
              $('span.count .total').text(previous_action == 'like' ?
              previous_likes + 1 : previous_likes - 1);
            }
          }
        );
      });
{% endblock %}