{% extends "base.html" %}

{% block head_title %}Blog List{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid p-3 mb-2 bg-white text-dark" style="margin-top:50px;">
  <div class="container">
    <h1 class="display-5 text-center">Recent Blog Posts</h1>
    <p class="lead text-center">Some example listed posted objects.</p>
  </div>
</div>


    {% for post in object_list %}

        <div class="jumbotron bg-white">
          <h1 class="display-6">Post</h1>
          <p class="lead">{{ post.title }} by
            <a href="{% url 'users:profile' username=post.posted_by %}">@{{ post.posted_by }}</a>
          </p>
          <hr class="my-5">{{ post.content }}
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>

    {% endfor %}

    {# TODO https://getbootstrap.com/docs/4.3/components/card/   #}

{% endblock %}