{% extends "base.html" %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

    <div class="card-body">
        <h2 class="card-title text-center">{{ title }}</h2>
    </div>
    <form method="POST" action=".">{% csrf_token %}
        <div class="form-group">

                {% bootstrap_form form show_label=False %}

            <div class="align-self-center">
                <button type="submit" class="btn btn-primary form-control">Post</button>
            </div>

        </div>
    </form>

{% endblock %}