{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-6 mx-auto">

        <div class="container" style="margin-top:30px;">

            <div class="jumbotron jumbotron-fluid">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" style="margin-top:-40px;"
                     class="d-inline-block align-top rounded mx-auto d-block" alt="">

                <h1 class="display-5 text-center">{{ title }}</h1>

                <div class="container">

                <form method="POST" action="">{% csrf_token %}

                    <div class="form-group">

                        <div class="form-row" style="margin-bottom:15px;">

                            {% bootstrap_field form.first_name form_group_class='col-md-6' layout='inline' error_types='all' %}
                            {% bootstrap_field form.last_name form_group_class='col-md-6' layout='inline' error_types='all' %}

                        </div>

                        {% bootstrap_field form.email layout='inline' error_types='all' %}
                        {% bootstrap_field form.content layout='inline' error_types='all' %}

                        <div class="align-self-center" style="margin-bottom:-40px;">
                            <button type="submit" class="btn btn-primary form-control">Send</button>
                        </div>

                    </div>

                </form>

                </div>

            </div>

        </div>

      </div>

  </div>

</div>

{% endblock %}