{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}

  <div class="row" style="margin-top:30px;">

      <div class="col-6 mx-auto">

        <div class="container" style="border: 1px solid lightgrey">

            <div class="jumbotron jumbotron-fluid bg-white" style="padding-top: 30px">

                <img src="{% static "images/icons/blog.png"%}"
                   width="70" height="70" class="mx-auto d-block" alt="Blog Icon">

                <h1 class="display-5 text-center">{{ title }}</h1>

                <div class="container">

                <form method="POST" action="">{% csrf_token %}

                    <div class="form-group">

                        <div class="form-row" style="margin-bottom:15px;">

                            {% bootstrap_field form.first_name form_group_class='col-md-6' layout='inline' error_types='all' %}
                            {% bootstrap_field form.last_name form_group_class='col-md-6' layout='inline' error_types='all' %}

                        </div>

                        {% bootstrap_field form.email layout='inline' error_types='all' %}
                        {% bootstrap_field form.content layout='inline' error_types='all' %}

                    </div>

                        <div class="align-self-center" style="margin-bottom: -40px;">
                            <button type="submit" class="btn btn-primary form-control">Send</button>
                        </div>

                </form>

                </div>

            </div>

        </div>

      </div>

  </div>


{% endblock %}