<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/icons/blog.png' %}" />

    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
          var csrftoken = Cookies.get('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });
      $(document).ready(function(){
        {% block domready %}
        {% endblock %}
      });
    </script>






        <div class="container justify-content-center" width="1200">

            <nav class="navbar navbar-expand-lg navbar-light bg-white">

                  <a class="navbar-brand" href="{% url 'home' %}"
                  style="margin-left:15px;">
                      <img id="tt" src="{% static "images/icons/blog.png"%}"
                           width="40" height="40" class="d-inline-block"
                           title="Menu items" alt="Blog">
                      <small style="font-size: 13px; margin-left: -4px;"><b>SITE</b></small>
                  </a>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">

              </div>

                      {% if user.is_authenticated %}

                        <a  class="nav-link" href="{% url 'blog:posts' %}">
                            <img src="{% static "images/icons/pencil.png"%}"
                                    style="border: 1px solid black; border-radius: 100%;"
                                        width="35" height="35" alt="Blog"
                                        title="View Blogs">
                        </a>

                        <a class="nav-link" href="{% url 'users:profile' slug=user.slug %}">
                            <img src="{% static "images/icons/user.png"%}"
                                width="35" height="35" alt="Sign In"
                                title="View your Profile">
                        </a>

                      {% else %}

                            <a class="nav-link" href="{% url 'users:sign_in' %}">
                                <img src="{% static "images/icons/user.png"%}"
                                    width="35" height="35" alt="Sign In"
                                    title="Click here to sign in">
                            </a>

                      {% endif %}

                            <a class="nav-link" data-toggle="modal" data-target="#mainModalCenter" href="#">
                                <img src="{% static "images/icons/menu.png"%}"
                                    width="35" height="35" alt="Menu"
                                    title="Click here for the menu">
                            </a>

            </nav>

        </div>

        <div class="modal fade align-middle" id="mainModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action text-center">Home</a>
                <a href="{% url 'about' %}" class="list-group-item list-group-item-action text-center">About</a>
                <a href="{% url 'contact' %}" class="list-group-item list-group-item-action text-center">Contact</a>
                <a href="{% url 'blog:posts' %}" class="list-group-item list-group-item-action text-center">Posts</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:sign_out' %}" class="list-group-item list-group-item-action text-center">Sign
                        Out</a>
                    <a href="{% url 'users:change_password' %}" class="list-group-item list-group-item-action
                    text-center">Change Password</a>
                {% else %}
                    <a href="{% url 'users:sign_in' %}" class="list-group-item list-group-item-action text-center">Sign
                        In</a>
                    <a href="{% url 'users:sign_up' %}" class="list-group-item list-group-item-action text-center">Sign
                        Up</a>
                    <a href="{% url 'users:reset_password' %}" class="list-group-item list-group-item-action text-center">Reset
                        Password</a>
                    <a href="{% url 'users:resend_verification' %}"
                       class="list-group-item list-group-item-action text-center">Confirm Email</a>
                {% endif %}
                <a href="#" class="list-group-item list-group-item-action text-center" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>


        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="container alert alert-success text-center" role="alert">
                        {{ message|safe }}
{#                    <a href="{% url 'users:profile' slug=user.slug%}" class="alert-link">Click to go to your profile</a>.#}
                {% else %}
                    <div class="container alert alert-danger text-center" role="alert">
                        {{ message|safe }}
                {% endif %}
                </div>
            {% endfor %}
        {% endif %}


        <div class="container justify-content-center" width="1200">

          {% block content %}

          {% endblock %}

        </div>

    </body>

</html>
