{% load simple_tags %}

<div class="container text-center">

    {% for posts in posts|chunks_of:3 %}
        <div class="row">
            {% for post in posts %}

                <div class="container col-sm">
                <div class="card mb-4">
{#                  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text font-weight-light">{{ post.content|truncatechars:30  }}</p>
                    <a href="{% url 'blog:post' post.slug %}" class="btn btn-primary">Read More</a>
                  </div>
                  <div class="card-footer text-muted">
                    Posted {{ post.date_created|date:"M d, Y h:m" }} by
                      <a href="{% url 'users:profile' slug=post.posted_by.slug %}">
                                                         @{{ post.posted_by }}</a>
                  </div>
                </div>
                </div>



            {% endfor %}
        </div>
    {% endfor %}

</div>


{% if page.paginator.num_pages > 1 %}

<div class="container-fluid text-center"
        width="100%" style="margin: 15px 0 15px 0;">

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
              {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}">&larr; Newer</a>
                    </li>
              {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; Newer</a>
                    </li>
              {% endif %}

            <li class="page-item disabled">
                <div class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</div>
            </li>

              {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}">Older &rarr;</a>
                    </li>
              {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Older &rarr;</a>
                    </li>
              {% endif %}
        </ul>

</div>

{% endif %}
